{{ 'footer.css' | asset_url | stylesheet_tag }}
<footer class="footer-mobile">
  <div class="page-width">
    <div class="footer__content-mobile">
      <div class="footer__column">
        <div class="footer__logo-box">
          <a href="#" class="footer__logo-link">
            <img src="{{ 'logo.png' | asset_url }}" alt="">
          </a>
        </div>
        <p class="footer__text">
          Today, we’re proud to have over 168,000+ happy moms using our “sleepy” magnesium lotion and other products to ease their pregnancy pains and get a good night’s sleep!
          <a href="#" class="read-more-link">...Read More</a>
        </p>
        <div class="social__icon-box social__icon-mobile">
          <a href="#" class="social__link">
            <img
              src="{{'facebook-icon.svg' | asset_url}}"
              alt=""
              class="social__img">
          </a>
          <a href="#" class="social__link">
            <img
              src="{{'instagram-icon.svg' | asset_url}}"
              alt=""
              class="social__img">
          </a>
          <a href="#" class="social__link">
            <img
              src="{{'printrste-icon.svg' | asset_url}}"
              alt=""
              class="social__img">
          </a>
          <a href="#" class="social__link">
            <img
              src="{{'youtube-icon.svg' | asset_url}}"
              alt=""
              class="social__img">
          </a>
          <a href="#" class="social__link">
            <img
              src="{{'tiktok-icon.svg' | asset_url}}"
              alt=""
              class="social__img">
          </a>
        </div>

      </div>

      <div class="footer__column">
        <h4 class="footer__link-title">
          Reach out to us!
        </h4>

        <div class="footer__email-box">
          <a href="#" class="email-btn"><img src="{{ 'email-icon.svg' | asset_url }}" alt=""></a>

          <p class="footer__input">
            contact@8sheep.com</p>
        </div>

        <div class="footer__location">
          <img src="{{ 'location-icon.svg' | asset_url }}" alt="">
          <p class="footer__location-text">
            29155 County Road 2, Elkhart IN 46514
          </p>
        </div>
      </div>
      <div class="footer__column ">
        <h4 class="footer__link-title footer__link-title-mobile">
          Quick links
          <img
            src="{{ 'arrow-down1.svg' | asset_url }}"
            alt=""
            class="link-arrow">
        </h4>
        <ul class="footer__link-content-mobile" style="display:none;">
          <li class="footer__link-item">
            <a href="#" class="footer__link">Shop</a>
          </li>
          <li class="footer__link-item">
            <a href="#" class="footer__link">Shipping Policy</a>
          </li>
          <li class="footer__link-item">
            <a href="#" class="footer__link">Refund Policy</a>
          </li>
          <li class="footer__link-item">
            <a href="#" class="footer__link">Terms of Service</a>
          </li>
          <li class="footer__link-item">
            <a href="#" class="footer__link">Privacy Policy</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer__atm-card">
      <a href="#" class="footer__atm-link">
        <img
          src="{{ 'amex.png' | asset_url }}"
          alt=""
          class="footer__atm-img">
      </a>
      <a href="#" class="footer__atm-link">
        <img
          src="{{ 'apple-pay.png' | asset_url }}"
          alt=""
          class="footer__atm-img">
      </a>
      <a href="#" class="footer__atm-link">
        <img
          src="{{ 'master-card.png' | asset_url }}"
          alt=""
          class="footer__atm-img">
      </a>
      <a href="#" class="footer__atm-link">
        <img
          src="{{ 'amex.png' | asset_url }}"
          alt=""
          class="footer__atm-img">
      </a>
      <a href="#" class="footer__atm-link">
        <img
          src="{{ 'apple-pay.png' | asset_url }}"
          alt=""
          class="footer__atm-img">
      </a>
      <a href="#" class="footer__atm-link">
        <img
          src="{{ 'master-card.png' | asset_url }}"
          alt=""
          class="footer__atm-img">
      </a>
      <a href="#" class="footer__atm-link">
        <img
          src="{{ 'amex.png' | asset_url }}"
          alt=""
          class="footer__atm-img">
      </a>
      <a href="#" class="footer__atm-link">
        <img
          src="{{ 'apple-pay.png' | asset_url }}"
          alt=""
          class="footer__atm-img">
      </a>
      <a href="#" class="footer__atm-link">
        <img
          src="{{ 'master-card.png' | asset_url }}"
          alt=""
          class="footer__atm-img">
      </a>
    </div>
    <p class="footer__copy-write">
      © 2022 8 Sheep Organics.
    </p>
  </div>

</footer>

{% comment %} For Desktop {% endcomment %}
<footer class="footer">
  <div class="page-width">
    <div class="footer__content">
      <div class="footer__column">
        <div class="footer__logo-box">
          <a href="#" class="footer__logo-link">
            <img src="{{ 'logo.png' | asset_url }}" alt="">
          </a>
        </div>
        <p class="footer__text">
          Today, we’re proud to have over 168,000+ happy moms using our “sleepy” magnesium lotion and other products to ease their pregnancy pains and get a good night’s sleep!
          <a href="#" class="read-more-link">...Read More</a>
        </p>
        <div class="footer__atm-card">
          <a href="#" class="footer__atm-link">
            <img
              src="{{ 'amex.png' | asset_url }}"
              alt=""
              class="footer__atm-img">
          </a>
          <a href="#" class="footer__atm-link">
            <img
              src="{{ 'apple-pay.png' | asset_url }}"
              alt=""
              class="footer__atm-img">
          </a>
          <a href="#" class="footer__atm-link">
            <img
              src="{{ 'master-card.png' | asset_url }}"
              alt=""
              class="footer__atm-img">
          </a>
          <a href="#" class="footer__atm-link">
            <img
              src="{{ 'amex.png' | asset_url }}"
              alt=""
              class="footer__atm-img">
          </a>
          <a href="#" class="footer__atm-link">
            <img
              src="{{ 'apple-pay.png' | asset_url }}"
              alt=""
              class="footer__atm-img">
          </a>
          <a href="#" class="footer__atm-link">
            <img
              src="{{ 'master-card.png' | asset_url }}"
              alt=""
              class="footer__atm-img">
          </a>
          <a href="#" class="footer__atm-link">
            <img
              src="{{ 'amex.png' | asset_url }}"
              alt=""
              class="footer__atm-img">
          </a>
          <a href="#" class="footer__atm-link">
            <img
              src="{{ 'apple-pay.png' | asset_url }}"
              alt=""
              class="footer__atm-img">
          </a>
          <a href="#" class="footer__atm-link">
            <img
              src="{{ 'master-card.png' | asset_url }}"
              alt=""
              class="footer__atm-img">
          </a>
        </div>
      </div>
      <div class="footer__column footer__column--small">
        <h4 class="footer__link-title">Quick links
        </h4>
        <ul class="footer__link-content">
          <li class="footer__link-item">
            <a href="#" class="footer__link">Shop</a>
          </li>
          <li class="footer__link-item">
            <a href="#" class="footer__link">Shipping Policy</a>
          </li>
          <li class="footer__link-item">
            <a href="#" class="footer__link">Refund Policy</a>
          </li>
          <li class="footer__link-item">
            <a href="#" class="footer__link">Terms of Service</a>
          </li>
          <li class="footer__link-item">
            <a href="#" class="footer__link">Privacy Policy</a>
          </li>
        </ul>
      </div>
      <div class="footer__column footer__column--small">
        <h4 class="footer__link-title">
          Reach out to us!
        </h4>
        <div class="footer__email-box">
          <a href="#" class="email-btn"><img src="{{ 'email-icon.svg' | asset_url }}" alt=""></a>

          <p class="footer__input">
            contact@8sheep.com</p>
        </div>
        <div class="footer__location">
          <img src="{{ 'location-icon.svg' | asset_url }}" alt="">
          <p class="footer__location-text">
            29155 County Road 2, Elkhart IN 46514
          </p>
        </div>
      </div>
    </div>
    <p class="footer__copy-write">
      © 2022 8 Sheep Organics.
    </p>
  </div>

</footer>
{% schema %}
  {
    "name": "t:sections.footer.name",
    "blocks": [
      {
        "type": "link_list",
        "name": "t:sections.footer.blocks.link_list.name",
        "settings": [
          {
            "type": "link_list",
            "id": "menu",
            "default": "footer",
            "label": "t:sections.footer.blocks.link_list.settings.menu.label",
            "info": "t:sections.footer.blocks.link_list.settings.menu.info"
          }
        ]
      }
    ],
    "settings": [
      {
        "type": "header",
        "content": "t:sections.footer.settings.header__7.content"
      }, {
        "type": "checkbox",
        "id": "payment_enable",
        "default": true,
        "label": "t:sections.footer.settings.payment_enable.label"
      }
    ]
  }
{% endschema %}